body {
  margin: 0;
  background: #ececec;
}
p {
  margin: 0;
}
.container {
  height: 425px;
  width: 526px;
}
.container .room {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  height: 341px;
  width: 442px;
}
.container .room .desk {
  background-color: #c2b9a0;
  height: 300px;
  width: 400px;
}
