.round-corners(@radius: 3px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.gradient-linear(@colorStopB, @colorStopM, @colorStopE) {
    background: @colorStopB; /* Old browsers */
    background: -moz-linear-gradient(top,  @colorStopB 0%, @colorStopM 44%, @colorStopE 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@colorStopB), color-stop(44%,@colorStopM), color-stop(100%,@colorStopE)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @colorStopB 0%,@colorStopM 44%,@colorStopE 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @colorStopB 0%,@colorStopM 44%,@colorStopE 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @colorStopB 0%,@colorStopM 44%,@colorStopE 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @colorStopB 0%,@colorStopM 44%,@colorStopE 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@colorStopB', endColorstr='@colorStopE',GradientType=0 ); /* IE6-9 */
}

.gradient-45(@colorStopB, @colorStopM, @colorStopE) {
    background: @colorStopB; /* Old browsers */
    background: -moz-linear-gradient(45deg, @colorStopB 0%, @colorStopM 36%, @colorStopE 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,@colorStopB), color-stop(36%,@colorStopM), color-stop(100%,@colorStopE)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, @colorStopB 0%,@colorStopM 36%,@colorStopE 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, @colorStopB 0%,@colorStopM 36%,@colorStopE 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, @colorStopB 0%,@colorStopM 36%,@colorStopE 100%); /* IE10+ */
    background: linear-gradient(45deg, @colorStopB 0%,@colorStopM 36%,@colorStopE 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@colorStopB', endColorstr='@colorStopE',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.box-shadow(@horiz, @vert, @blur, @spread, @shadow) {
    -webkit-box-shadow: @horiz @vert @blur @spread @shadow;
    -moz-box-shadow: @horiz @vert @blur @spread @shadow;
    box-shadow: @horiz @vert @blur @spread @shadow;
}

body {
    margin: 0;
    background: #ececec;
}

p {
    margin: 0;
}

.container {
    height: 425px;
    width: 526px;
    .room {
        .round-corners;
        background-color: #ffffff;
        height: 341px;
        width: 442px;
        .desk {
            .gradient-45(#726a5b, #c0b69d, #d5cfbc);
            height: 300px;
            margin: 0 auto;
            width: 400px;
            position: relative;
            top: 20px;
            .calculator {
                .box-shadow(0px, 6px, 15px, 0px, #111111);
                .round-corners;
                background: #454545;
                border: 1px solid #333333;
                border-top: 1px ridge #777777;
                height: 241px;
                margin: 0 auto;
                width: 195px;
                position: relative;
                top: 30px;

                .display {
                    .round-corners;
                    background-color: #131313;
                    border-style: none;
                    color: transparent;
                    direction: rtl;
                    font-family: Helvetica Neue;
                    font-size: 29px;
                    font-weight: 200;
                    height: 46px;
                    letter-spacing: 1px;
                    margin: 10px 0 0 8px;
                    width: 176px;
                    // to see text without cursor
                    text-shadow: 0px 0px 1px #f3f3f3;
                }

                button {
                    .box-shadow(0px, 1px, 3px, 0px, #111111);
                    .gradient-linear(#5f5f5f, #505050, #404040);
                    .round-corners;
                    border-width: 1px;
                    border-color: #333333;
                    color: #ffffff;
                    font-family: Helvetica Neue;
                    font-size: 13px;
                    height: 27px;
                    letter-spacing: 1px;
                    margin: 8px 0 0 7px;
                    width: 36px;

                    position: relative;
                }
            }
        }
    }
}
