body {
  margin: 0;
  background: #ececec;
}
p {
  margin: 0;
}
.container {
  height: 425px;
  width: 526px;
}
.container .room {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  height: 341px;
  width: 442px;
}
.container .room .desk {
  background: #726a5b;
  /* Old browsers */

  background: -moz-linear-gradient(45deg, #726a5b 0%, #c0b69d 36%, #d5cfbc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #726a5b), color-stop(36%, #c0b69d), color-stop(100%, #d5cfbc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(45deg, #726a5b 0%, #c0b69d 36%, #d5cfbc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(45deg, #726a5b 0%, #c0b69d 36%, #d5cfbc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(45deg, #726a5b 0%, #c0b69d 36%, #d5cfbc 100%);
  /* IE10+ */

  background: linear-gradient(45deg, #726a5b 0%, #c0b69d 36%, #d5cfbc 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorStopB', endColorstr='@colorStopE', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #d5cfbc 0%, #c0b69d 50%, #726a5b 100%);
  background-image: radial-gradient(center top, circle farthest-corner, #d5cfbc 0%, #c0b69d 50%, #726a5b 100%);
  box-shadow: 0 0 10px 0 #c0b69d inset;
  height: 300px;
  margin: 0 auto;
  width: 400px;
  position: relative;
  top: 20px;
}
.container .room .desk .calculator {
  -webkit-box-shadow: 0px 6px 15px 0px #111111;
  -moz-box-shadow: 0px 6px 15px 0px #111111;
  box-shadow: 0px 6px 15px 0px #111111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #454545;
  border: 1px solid #333333;
  border-top: 1px ridge #777777;
  height: 241px;
  margin: 0 auto;
  width: 195px;
  position: relative;
  top: 30px;
}
.container .room .desk .calculator .display {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #999999;
  background-color: #131313;
  border-style: none;
  color: transparent;
  direction: rtl;
  font-family: Helvetica Neue;
  font-size: 29px;
  font-weight: 200;
  height: 41px;
  letter-spacing: 1px;
  margin: 10px 0 0 9px;
  padding: 5px 0 0 0;
  width: 176px;
  text-shadow: 0px 0px 1px #f3f3f3;
}
.container .room .desk .calculator button {
  -webkit-box-shadow: 0px 1px 3px 0px #111111;
  -moz-box-shadow: 0px 1px 3px 0px #111111;
  box-shadow: 0px 1px 3px 0px #111111;
  background: #5f5f5f;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5f5f5f 0%, #505050 44%, #404040 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f5f5f), color-stop(44%, #505050), color-stop(100%, #404040));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5f5f5f 0%, #505050 44%, #404040 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5f5f5f 0%, #505050 44%, #404040 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5f5f5f 0%, #505050 44%, #404040 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #5f5f5f 0%, #505050 44%, #404040 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorStopB', endColorstr='@colorStopE', GradientType=0);
  /* IE6-9 */

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #333333;
  color: #ffffff;
  font-family: Helvetica Neue;
  font-size: 13px;
  height: 27px;
  letter-spacing: 1px;
  margin: 8px 0 0 10px;
  width: 36px;
  position: relative;
  left: 0px;
  top: 0px;
}
.container .room .desk .calculator button:last-child {
  background: #40cc40;
  /* Old browsers */

  background: -moz-linear-gradient(top, #40cc40 0%, #50cc50 44%, #5f995f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40cc40), color-stop(44%, #50cc50), color-stop(100%, #5f995f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #40cc40 0%, #50cc50 44%, #5f995f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #40cc40 0%, #50cc50 44%, #5f995f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #40cc40 0%, #50cc50 44%, #5f995f 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #40cc40 0%, #50cc50 44%, #5f995f 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorStopB', endColorstr='@colorStopE', GradientType=0);
  /* IE6-9 */

}
